<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <p><%= @post.user.username %></p>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag(@post.image.url(:medium), class:'image-responsive') %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
  </div>
  <p class="text-center edit-links">
    <% if @post.user_id == current_user.try(:id) %>
      <%= link_to "Edit", edit_post_path %> | 
    <% end %>
    <%= link_to "Back", root_path %>
  </p>
</div>